In [1]:
import pickle as pkl

path1 = "inference/santos/clustering/run_1_hdbscan_santos/clustering_results.pkl"
path2 = "inference/santos/clustering/run_3_hierarchical_santos/clustering_results.pkl"

with open(path1, 'rb') as f:
    data1 = pkl.load(f)

with open(path2, 'rb') as f:
    data2 = pkl.load(f)

In [2]:
data1

,index,dataset,column_index,column_name,column_name_lower,cluster
0,0,albums_0.csv,0,artist,artist,2
1,0,albums_0.csv,1,title,title,0
2,0,albums_0.csv,2,album,album,1
3,1,albums_1.csv,0,artist,artist,2
4,1,albums_1.csv,1,title,title,0
5,1,albums_1.csv,2,album,album,1
6,2,albums_2.csv,0,artist,artist,2
7,2,albums_2.csv,1,title,title,0
8,2,albums_2.csv,2,album,album,1
9,3,albums_3.csv,0,artist,artist,2
10,3,albums_3.csv,1,title,title,0
11,3,albums_3.csv,2,album,album,1
12,4,albums_4.csv,0,artist,artist,2
13,4,albums_4.csv,1,title,title,0
14,4,albums_4.csv,2,album,album,1
15,5,new_york_city_restaurant_inspection_results_11...,0,CAMIS,camis,9
16,5,new_york_city_restaurant_inspection_results_11...,1,DBA,dba,6
17,5,new_york_city_restaurant_inspection_results_11...,2,STREET,street,7
18,5,new_york_city_restaurant_inspection_results_11...,3,ZIPCODE,zipcode,11
19,5,new_york_city_restaurant_inspection_results_11...,4,CUISINE DESCRIPTION,cuisine description,4
20,5,new_york_city_restaurant_inspection_results_11...,5,CRITICAL FLAG,critical flag,10
21,5,new_york_city_restaurant_inspection_results_11...,6,SCORE,score,5
22,5,new_york_city_restaurant_inspection_results_11...,7,GRADE,grade,8
23,5,new_york_city_restaurant_inspection_results_11...,8,INSPECTION TYPE,inspection type,3
24,6,new_york_city_restaurant_inspection_results_12...,0,CAMIS,camis,9
25,6,new_york_city_restaurant_inspection_results_12...,1,DBA,dba,6
26,6,new_york_city_restaurant_inspection_results_12...,2,STREET,street,7
27,6,new_york_city_restaurant_inspection_results_12...,3,ZIPCODE,zipcode,11
28,6,new_york_city_restaurant_inspection_results_12...,4,CUISINE DESCRIPTION,cuisine description,4
29,6,new_york_city_restaurant_inspection_results_12...,5,CRITICAL FLAG,critical flag,10
30,6,new_york_city_restaurant_inspection_results_12...,6,SCORE,score,5
31,6,new_york_city_restaurant_inspection_results_12...,7,GRADE,grade,8
32,6,new_york_city_restaurant_inspection_results_12...,8,INSPECTION TYPE,inspection type,3
33,7,new_york_city_restaurant_inspection_results_13...,0,CAMIS,camis,9
34,7,new_york_city_restaurant_inspection_results_13...,1,DBA,dba,6
35,7,new_york_city_restaurant_inspection_results_13...,2,STREET,street,7
36,7,new_york_city_restaurant_inspection_results_13...,3,ZIPCODE,zipcode,11
37,7,new_york_city_restaurant_inspection_results_13...,4,CUISINE DESCRIPTION,cuisine description,4
38,7,new_york_city_restaurant_inspection_results_13...,5,CRITICAL FLAG,critical flag,10
39,7,new_york_city_restaurant_inspection_results_13...,6,SCORE,score,5
40,7,new_york_city_restaurant_inspection_results_13...,7,GRADE,grade,8
41,7,new_york_city_restaurant_inspection_results_13...,8,INSPECTION TYPE,inspection type,3
42,8,new_york_city_restaurant_inspection_results_14...,0,CAMIS,camis,9
43,8,new_york_city_restaurant_inspection_results_14...,1,DBA,dba,6
44,8,new_york_city_restaurant_inspection_results_14...,2,STREET,street,7
45,8,new_york_city_restaurant_inspection_results_14...,3,ZIPCODE,zipcode,11
46,8,new_york_city_restaurant_inspection_results_14...,4,CUISINE DESCRIPTION,cuisine description,4
47,8,new_york_city_restaurant_inspection_results_14...,5,CRITICAL FLAG,critical flag,10
48,8,new_york_city_restaurant_inspection_results_14...,6,SCORE,score,5
49,8,new_york_city_restaurant_inspection_results_14...,7,GRADE,grade,8
50,8,new_york_city_restaurant_inspection_results_14...,8,INSPECTION TYPE,inspection type,3
51,9,new_york_city_restaurant_inspection_results_15...,0,CAMIS,camis,9
52,9,new_york_city_restaurant_inspection_results_15...,1,DBA,dba,6
53,9,new_york_city_restaurant_inspection_results_15...,2,STREET,street,7
54,9,new_york_city_restaurant_inspection_results_15...,3,ZIPCODE,zipcode,11
55,9,new_york_city_restaurant_inspection_results_15...,4,CUISINE DESCRIPTION,cuisine description,4
56,9,new_york_city_restaurant_inspection_results_15...,5,CRITICAL FLAG,critical flag,10
57,9,new_york_city_restaurant_inspection_results_15...,6,SCORE,score,5
58,9,new_york_city_restaurant_inspection_results_15...,7,GRADE,grade,8
59,9,new_york_city_restaurant_inspection_results_15...,8,INSPECTION TYPE,inspection type,3

In [3]:
data2

,index,dataset,column_index,column_name,column_name_lower,cluster
0,0,albums_0.csv,0,artist,artist,2
1,0,albums_0.csv,1,title,title,0
2,0,albums_0.csv,2,album,album,1
3,1,albums_1.csv,0,artist,artist,2
4,1,albums_1.csv,1,title,title,0
5,1,albums_1.csv,2,album,album,1
6,2,albums_2.csv,0,artist,artist,2
7,2,albums_2.csv,1,title,title,0
8,2,albums_2.csv,2,album,album,1
9,3,albums_3.csv,0,artist,artist,2
10,3,albums_3.csv,1,title,title,0
11,3,albums_3.csv,2,album,album,1
12,4,albums_4.csv,0,artist,artist,2
13,4,albums_4.csv,1,title,title,0
14,4,albums_4.csv,2,album,album,1
15,5,new_york_city_restaurant_inspection_results_11...,0,CAMIS,camis,8
16,5,new_york_city_restaurant_inspection_results_11...,1,DBA,dba,6
17,5,new_york_city_restaurant_inspection_results_11...,2,STREET,street,9
18,5,new_york_city_restaurant_inspection_results_11...,3,ZIPCODE,zipcode,10
19,5,new_york_city_restaurant_inspection_results_11...,4,CUISINE DESCRIPTION,cuisine description,3
20,5,new_york_city_restaurant_inspection_results_11...,5,CRITICAL FLAG,critical flag,5
21,5,new_york_city_restaurant_inspection_results_11...,6,SCORE,score,4
22,5,new_york_city_restaurant_inspection_results_11...,7,GRADE,grade,11
23,5,new_york_city_restaurant_inspection_results_11...,8,INSPECTION TYPE,inspection type,7
24,6,new_york_city_restaurant_inspection_results_12...,0,CAMIS,camis,8
25,6,new_york_city_restaurant_inspection_results_12...,1,DBA,dba,6
26,6,new_york_city_restaurant_inspection_results_12...,2,STREET,street,9
27,6,new_york_city_restaurant_inspection_results_12...,3,ZIPCODE,zipcode,10
28,6,new_york_city_restaurant_inspection_results_12...,4,CUISINE DESCRIPTION,cuisine description,3
29,6,new_york_city_restaurant_inspection_results_12...,5,CRITICAL FLAG,critical flag,5
30,6,new_york_city_restaurant_inspection_results_12...,6,SCORE,score,4
31,6,new_york_city_restaurant_inspection_results_12...,7,GRADE,grade,11
32,6,new_york_city_restaurant_inspection_results_12...,8,INSPECTION TYPE,inspection type,7
33,7,new_york_city_restaurant_inspection_results_13...,0,CAMIS,camis,8
34,7,new_york_city_restaurant_inspection_results_13...,1,DBA,dba,6
35,7,new_york_city_restaurant_inspection_results_13...,2,STREET,street,9
36,7,new_york_city_restaurant_inspection_results_13...,3,ZIPCODE,zipcode,10
37,7,new_york_city_restaurant_inspection_results_13...,4,CUISINE DESCRIPTION,cuisine description,3
38,7,new_york_city_restaurant_inspection_results_13...,5,CRITICAL FLAG,critical flag,5
39,7,new_york_city_restaurant_inspection_results_13...,6,SCORE,score,4
40,7,new_york_city_restaurant_inspection_results_13...,7,GRADE,grade,11
41,7,new_york_city_restaurant_inspection_results_13...,8,INSPECTION TYPE,inspection type,7
42,8,new_york_city_restaurant_inspection_results_14...,0,CAMIS,camis,8
43,8,new_york_city_restaurant_inspection_results_14...,1,DBA,dba,6
44,8,new_york_city_restaurant_inspection_results_14...,2,STREET,street,9
45,8,new_york_city_restaurant_inspection_results_14...,3,ZIPCODE,zipcode,10
46,8,new_york_city_restaurant_inspection_results_14...,4,CUISINE DESCRIPTION,cuisine description,3
47,8,new_york_city_restaurant_inspection_results_14...,5,CRITICAL FLAG,critical flag,5
48,8,new_york_city_restaurant_inspection_results_14...,6,SCORE,score,4
49,8,new_york_city_restaurant_inspection_results_14...,7,GRADE,grade,11
50,8,new_york_city_restaurant_inspection_results_14...,8,INSPECTION TYPE,inspection type,7
51,9,new_york_city_restaurant_inspection_results_15...,0,CAMIS,camis,8
52,9,new_york_city_restaurant_inspection_results_15...,1,DBA,dba,6
53,9,new_york_city_restaurant_inspection_results_15...,2,STREET,street,9
54,9,new_york_city_restaurant_inspection_results_15...,3,ZIPCODE,zipcode,10
55,9,new_york_city_restaurant_inspection_results_15...,4,CUISINE DESCRIPTION,cuisine description,3
56,9,new_york_city_restaurant_inspection_results_15...,5,CRITICAL FLAG,critical flag,5
57,9,new_york_city_restaurant_inspection_results_15...,6,SCORE,score,4
58,9,new_york_city_restaurant_inspection_results_15...,7,GRADE,grade,11
59,9,new_york_city_restaurant_inspection_results_15...,8,INSPECTION TYPE,inspection type,7

In [7]:
def print_cluster_contents(df, name):
    print(f"\nCluster contents for {name}:")
    for cluster in sorted(df['cluster'].unique()):
        columns = sorted(df[df['cluster'] == cluster]['column_name'].unique())
        print(f"\nCluster {cluster}:")
        for col in columns:
            print(f"  - {col}")
        print()  # Extra newline for readability

# Print contents for data1
print_cluster_contents(data1, "data1")

# Print contents for data2
print_cluster_contents(data2, "data2")

Cluster contents for data1:

Cluster 0:
  - title


Cluster 1:
  - album


Cluster 2:
  - artist


Cluster 3:
  - INSPECTION TYPE


Cluster 4:
  - CUISINE DESCRIPTION


Cluster 5:
  - SCORE


Cluster 6:
  - DBA


Cluster 7:
  - STREET


Cluster 8:
  - GRADE


Cluster 9:
  - CAMIS


Cluster 10:
  - CRITICAL FLAG


Cluster 11:
  - ZIPCODE


Cluster contents for data2:

Cluster 0:
  - title


Cluster 1:
  - album


Cluster 2:
  - artist


Cluster 3:
  - CUISINE DESCRIPTION


Cluster 4:
  - SCORE


Cluster 5:
  - CRITICAL FLAG


Cluster 6:
  - DBA


Cluster 7:
  - INSPECTION TYPE


Cluster 8:
  - CAMIS


Cluster 9:
  - STREET


Cluster 10:
  - ZIPCODE


Cluster 11:
  - GRADE